.title {
  width: 100%;
  position: fixed;
  background-color: #C52929;
  margin: 0;
  padding: 11px 0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: calc(0.5rem + 3vw);
}
.description {
  padding-top: calc(3rem + 5vw);
  width: 80%;
  margin: 0px auto;
  white-space: pre-wrap;
}
.link {
  color: #1AF;
  border-bottom: 1px solid;
}
.caution {
  color: red;
}
.buttonWrapper {
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin: 10px auto 0;
}
.button {
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 30px;
  margin: 0 10px 10px;
  background-color: #C52929;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s;
  border: 2px #C52929 solid;
}
.button:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
}
.buttonSelected {
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 30px;
  margin: 0 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s;
  background-color: white;
  color: black;
  border: 2px black solid;
}
.descriptionSmall {
  text-align: center;
  margin: 0 auto 10px;
  width: 80%;
}
.form {
  text-align: center;
}
.input {
  margin: 10px auto;
  display: block;
  padding: 8px 5px;
  border-radius: 10px;
  width: 60%;
  max-width: 450px;
}
.loading {
  color: #C52929;
  text-align: center;
}
.answer {
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 450px;
  height: 150px;
  resize: none;
  border-radius: 10px;
}
.bottomSpace {
  display: block;
  height: 25px;
}